---
import ProjectCard from '../elements/ProjectCard.astro';
import cernySmithThumb from '../../assets/projects/cerny-smith.png';

const projects = {
  list: [
    {
      name: "Cerny Smith",
      description: "Project main goal is to understand and manage the impact of change and stress on productivity and resilience, and library media and events to teach you how to deal with it.",
      thumbnail: cernySmithThumb,
      date: "August - October 2025",
      link: "https://cernysmith.com/"
    },
  ]
}

---
<section>
  <a name="projects" class="anchor"></a>
  <h2>Projects</h2>
  <ul>
    {projects.list.map((project) => (
      <li>
        <ProjectCard
          name={project.name}
          description={project.description}
          thumbnail={project.thumbnail}
          date={project.date}
          link={project.link}
        />
      </li>
    ))}
  </ul>
  <div style="margin-top: 2rem" class="external-apps-link">
    <a href="https://apps.adrianbeng.com" target="__blank" rel="noopener noreferrer">
      <h3>Browse my app portfolio <i class="fa-solid fa-arrow-up-right-from-square" style="font-size: 1rem;"></i></h3>
    </a>
  </div>
</section>

<style>
  ul{
     list-style: none;
     display: flex;
     flex-direction: column;
     gap : 0.5rem;
     padding: 0;
     margin: 1rem 0 0;
  }
  ul li{
    width: 100%; 
  }

  .external-apps-link a h3{
    text-decoration: underline;
    display: inline-block;
  }
  .external-apps-link a h3:hover{
    text-decoration: none;
  }
</style>